@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}

